<a href="https://colab.research.google.com/github/khairahnh/Learn-to-Code/blob/main/Learning_Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import Libraries

import pandas as pd
import numpy as np

In [2]:
#in millions
g7_pop =pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])

In [3]:
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [4]:
g7_pop.name = "G7 Populations in Millions" #series can have a name

In [5]:
g7_pop.dtype

dtype('float64')

In [6]:
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [7]:
type(g7_pop.values)

numpy.ndarray

In [8]:
g7_pop[0]

35.467

In [9]:
g7_pop.index = [
    'Canada', 
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'
]

In [10]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Populations in Millions, dtype: float64

we can say that Series lok like "ordered dictionaries". We can actually create Series out of dictionaries

In [11]:
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name = 'G7 Population in Millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

In [12]:
#numeric positions can be used, with the `iloc` attribute

g7_pop.iloc[0]

35.467

In [13]:
g7_pop.iloc[-1]

318.523

In [14]:
#selecting multiple elements at once

g7_pop[['Canada', 'Japan']]

Canada     35.467
Japan     127.061
Name: G7 Populations in Millions, dtype: float64

In [15]:
#result is another Series

g7_pop[[0, 1]]

Canada    35.467
France    63.951
Name: G7 Populations in Millions, dtype: float64

In [16]:
#slicing upper limit is also included. 
g7_pop['Canada': 'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Populations in Millions, dtype: float64

##CONDITIONAL SELECTION (BOOLEAN ARRAYS) - BOOLEAN SERIES

### The same boolean array techniques we saw applied to numpy arrays can be used for Pandas `Series`:

In [17]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Populations in Millions, dtype: float64

In [18]:
g7_pop >70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Populations in Millions, dtype: bool

In [19]:
g7_pop [g7_pop >70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Populations in Millions, dtype: float64

In [20]:
g7_pop.mean()

107.30257142857144

In [21]:
g7_pop[g7_pop > g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Populations in Millions, dtype: float64

In [22]:
g7_pop.std()

97.24996987121581

In [23]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() /2) |(g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Populations in Millions, dtype: float64

## Operations and methods

#### Series also support vectorized operations and aggregration functions as Numpy:

In [24]:
g7_pop * 100000

Canada             3546700.0
France             6395100.0
Germany            8094000.0
Italy              6066500.0
Japan             12706100.0
United Kingdom     6451100.0
United States     31852300.0
Name: G7 Populations in Millions, dtype: float64

In [25]:
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Populations in Millions, dtype: float64

In [26]:
g7_pop['France': 'Italy'].mean()

68.51866666666666

In [27]:
#df.loc['Canada'] #select row by the last row (index)
#df.iloc[-1] select rows by the sequential position

##  Boolean arrays

Work in the same way as numpy

In [28]:
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Populations in Millions, dtype: float64

In [29]:
g7_pop >80

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Populations in Millions, dtype: bool

## Modifying Series

In [30]:
g7_pop['Canada'] = 40.5

In [31]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Populations in Millions, dtype: float64

In [32]:
g7_pop.iloc[-1] = 500
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     500.000
Name: G7 Populations in Millions, dtype: float64

In [33]:
g7_pop[g7_pop < 70 ] = 99.99
g7_pop

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom     99.990
United States     500.000
Name: G7 Populations in Millions, dtype: float64